# SPDX-FileCopyrightText: 2021 Carl Schwan <carl@carlschwan.eu>
# SPDX-FileCopyrightText: 2021 Claudio Cambra <claudio.cambra@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Merkuro Contacts
Name[ar]=متراسلي ميركورو
Name[bg]=Контакти на Меркуро
Name[ca]=Contactes del Merkuro
Name[ca@valencia]=Contactes de Merkuro
Name[cs]=Kontakty Merkuro
Name[da]=Merkuro Kontakter
Name[en_GB]=Merkuro Contacts
Name[eo]=Merkuro-Kontaktoj
Name[es]=Contactos de Merkuro
Name[eu]=Merkuro Contacts
Name[fi]=Merkuro Contacts
Name[fr]=Contacts dans Merkuro
Name[gl]=Merkuro Contacts
Name[he]=אנשי קשר Merkuro
Name[hi]=मेरकुरो संपर्क
Name[hu]=Merkuro Névjegyek
Name[ia]=Contactos de Merkuro
Name[it]=Merkuro Contatti
Name[ka]=Merkuro Contacts
Name[ko]=Merkuro 연락처
Name[lt]=Merkuro adresatai
Name[lv]=Merkuro kontakti
Name[nl]=Merkuro-contacten
Name[pl]=Kontakty Merkuro
Name[pt]=Contactos do Merkuro
Name[pt_BR]=Merkuro Contacts
Name[ru]=Контакты Merkuro
Name[sa]=बुध सम्पर्क
Name[sk]=Merkuro Kontakty
Name[sl]=Merkuro stiki
Name[sv]=Merkuro Kontakter
Name[ta]=மெற்குரோ தொடர்புகள்
Name[tr]=Merkuro Kişiler
Name[uk]=Контакти Merkuro
Name[x-test]=xxMerkuro Contactsxx
Name[zh_TW]=Merkuro 聯絡人
GenericName=Address Book
GenericName[ar]=دفتر العناوين
GenericName[bg]=Адресна книга
GenericName[ca]=Llibreta d'adreces
GenericName[ca@valencia]=Llibreta d'adreces
GenericName[cs]=Kniha adres
GenericName[da]=Adressebog
GenericName[de]=Adressbuch
GenericName[en_GB]=Address Book
GenericName[eo]=Adreslibro
GenericName[es]=Libreta de direcciones
GenericName[eu]=Helbide-liburua
GenericName[fi]=Osoitekirja
GenericName[fr]=Carnet d'adresses
GenericName[gl]=Axenda de enderezos
GenericName[he]=פנקס כתובות
GenericName[hi]=पता पुस्तिका
GenericName[hu]=Címjegyzék
GenericName[ia]=Adressario
GenericName[it]=Rubrica
GenericName[ka]=მისამართების წიგნი
GenericName[ko]=주소록
GenericName[lt]=Adresų knyga
GenericName[lv]=Adrešu grāmata
GenericName[nl]=Adresboek
GenericName[pl]=Książka adresowa
GenericName[pt]=Livro de Endereços
GenericName[pt_BR]=Livro de endereços
GenericName[ru]=Адресная книга
GenericName[sa]=पता पुस्तिका
GenericName[sk]=Adresár
GenericName[sl]=Adresar
GenericName[sv]=Adressbok
GenericName[ta]=முகவரிப்புத்தகம்
GenericName[tr]=Adres Defteri
GenericName[uk]=Адресна книга
GenericName[x-test]=xxAddress Bookxx
GenericName[zh_TW]=通訊錄
Comment=Manage your contacts with Merkuro Contacts
Comment[ar]=أدر المهام والأحداث مع  متراسلي ميركورو
Comment[bg]=Управлявайте контактите си с Меркуро
Comment[ca]=Gestioneu els contactes amb el Contacts del Merkuro
Comment[ca@valencia]=Gestioneu els contactes amb el Contactes de Merkuro
Comment[cs]=Spravujte své kontakty pomocí Kontakty Merkuro
Comment[da]=Adminstrér dine kontakter med Merkuro Kontakter
Comment[en_GB]=Manage your contacts with Merkuro Contacts
Comment[eo]=Mastrumu viajn kontaktojn per Merkuro-Kontaktoj
Comment[es]=Gestión de contactos con Contactos de Merkuro
Comment[eu]=Kudeatu zure kontaktuak «Merkuro Contacts» erabiliz
Comment[fi]=Hallitse yhteystietoja Merkuro Contactsilla
Comment[fr]=Gérer vos contacts avec Contacts de Merkuro
Comment[gl]=Xestione os seus contactos con Merkuro Contacts.
Comment[he]=ניהול אנשי הקשר שלך עם אנשי קשר Merkuro
Comment[hi]=अपने संपर्कों को मेरकुरो संपर्कों के साथ प्रबंधित करें
Comment[hu]=Kezelje feladatait és eseményeit a Merkuro Névjegyekkel
Comment[ia]=Gere tu contactos con Contactos de Merkuro
Comment[it]=Gestisci i tuoi contatti con Merkuro Contatti
Comment[ka]=მართეთ თქვენი კონტაქტები Merkuro Contacts-ით
Comment[ko]=Merkuro 연락처를 사용하여 주소록 관리
Comment[lt]=Tvarkyti adresatus naudojant Merkuro adresatus
Comment[lv]=Pārvaldiet kontaktinformāciju ar „Merkuro“ kontaktu programmu
Comment[nl]=Uw contacten beheren met Merkuro-contacten
Comment[pl]=Zarządzaj swoimi kontaktami w Kontaktach Merkuro
Comment[pt]=Gerir os seus contactos com os Contactos do Merkuro
Comment[pt_BR]=Gerencie suas tarefas e eventos com o Merkuro Contacts
Comment[ru]=Управление контактами с помощью приложения «Контакты Merkuro»
Comment[sa]=Merkuro Contacts इत्यनेन सह स्वसम्पर्कं प्रबन्धयन्तु
Comment[sl]=Upravljajte vaše stike programom Merkuro Contacts
Comment[sv]=Hantera dina kontakter med Merkuro kontakter
Comment[ta]=மெற்குரோ தொடர்புகளால் தொடர்புகளை நிர்வகியுங்கள்
Comment[tr]=Merkuro Kişiler ile kişilerinizi yönetin
Comment[uk]=Керуйте вашими записами контактів за допомогою Контактів Merkuro
Comment[x-test]=xxManage your contacts with Merkuro Contactsxx
Comment[zh_TW]=用 Merkuro 聯絡人管理您的聯絡人
Exec=merkuro-contact
Categories=Qt;KDE;Office;ContactManagement;
Icon=org.kde.merkuro.contact
Type=Application
Terminal=false
StartupNotify=true
SingleMainWindow=true
Version=1.5
