# SPDX-FileCopyrightText: 2021 Carl Schwan <carl@carlschwan.eu>
# SPDX-FileCopyrightText: 2021 Claudio Cambra <claudio.cambra@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Merkuro Contacts
Name[ca]=Contactes del Merkuro
Name[ca@valencia]=Contactes de Merkuro
Name[eo]=Merkuro-Kontaktoj
Name[es]=Contactos de Merkuro
Name[fr]=Contacts dans Merkuro
Name[gl]=Merkuro Contacts
Name[ia]=Contactos de Merkuro
Name[it]=Merkuro Contatti
Name[ka]=Merkuro-ის კონტაქტები
Name[nl]=Merkuro-contacten
Name[pt]=Contactos do Merkuro
Name[sl]=Mercuro stiki
Name[ta]=மெற்குரோ தொடர்புகள்
Name[tr]=Erdenay Kişiler
Name[uk]=Контакти Merkuro
Name[x-test]=xxMerkuro Contactsxx
GenericName=Address Book
GenericName[ca]=Llibreta d'adreces
GenericName[ca@valencia]=Llibreta d'adreces
GenericName[eo]=Adreslibro
GenericName[es]=Libreta de direcciones
GenericName[fi]=Osoitekirja
GenericName[fr]=Carnet d'adresses
GenericName[gl]=Axenda de enderezos
GenericName[ia]=Adressario
GenericName[it]=Rubrica
GenericName[ka]=მისამართების წიგნი
GenericName[nl]=Adresboek
GenericName[pt]=Livro de Endereços
GenericName[sl]=Adresar
GenericName[ta]=முகவரிப்புத்தகம்
GenericName[tr]=Adres Defteri
GenericName[uk]=Адресна книга
GenericName[x-test]=xxAddress Bookxx
Comment=Manage your contacts with Merkuro Contacts
Comment[ca]=Gestioneu els contactes amb el Contacts del Merkuro
Comment[ca@valencia]=Gestioneu els contactes amb el Contactes de Merkuro
Comment[eo]=Mastrumu viajn kontaktojn per Merkuro-Kontaktoj
Comment[es]=Gestión de contactos con Contactos de Merkuro
Comment[fr]=Gérer vos contacts avec Contacts de Merkuro
Comment[gl]=Xestione os seus contactos con Merkuro Contacts.
Comment[ia]=Gere tu contactos con Contactos de Merkuro
Comment[it]=Gestisci i tuoi contatti con Merkuro Contatti
Comment[ka]=მართეთ თქვენი კონტაქტები Kalendar Contacts-ით
Comment[nl]=Uw contacten beheren met Merkuro-contacten
Comment[pt]=Gerir os seus contactos com os Contactos do Merkuro
Comment[sl]=Upravljajte vaše stike programom Mercuro Contacts
Comment[ta]=மெற்குரோ தொடர்புகளால் தொடர்புகளை நிர்வகியுங்கள்
Comment[tr]=Erdenay Kişiler ile kişilerinizi yönetin
Comment[uk]=Керуйте вашими записами контактів за допомогою Контактів Merkuro
Comment[x-test]=xxManage your contacts with Merkuro Contactsxx
Exec=merkuro-contact
Categories=Qt;KDE;Office;ContactManagement;
Icon=org.kde.merkuro.contact
Type=Application
Terminal=false
StartupNotify=true
SingleMainWindow=true
Version=1.5
