# SPDX-FileCopyrightText: 2024 Carl Schwan <carl@carlschwan.eu>
# SPDX-License-Identifier: CC0-1.0
[Desktop Entry]
Type=Application
Name=Merkuro
Exec=merkurolauncher
GenericName=Personal Information Manager
Icon=org.kde.merkuro.calendar
X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;
