# SPDX-FileCopyrightText: 2021 Carl Schwan <carl@carlschwan.eu>
# SPDX-FileCopyrightText: 2021 Claudio Cambra <claudio.cambra@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Calendar
Name[ca]=Calendar
Name[ca@valencia]=Calendari
Name[de]=Calendar
Name[eo]=Calendar
Name[es]=Calendar
Name[fr]=Agenda
Name[ia]=Calendar (Clendario)
Name[ka]=კალენდარი
Name[nl]=Agenda
Name[pt]=Calendário
Name[sl]=Koledar
Name[ta]=நாள்காட்டி
Name[tr]=Takvim
Name[uk]=Календар
Name[x-test]=xxCalendarxx
GenericName=Calendar
GenericName[ca]=Calendari
GenericName[ca@valencia]=Calendari
GenericName[de]=Calendar
GenericName[eo]=Kalendaro
GenericName[es]=Calendar
GenericName[fr]=Agenda
GenericName[ia]=Calendar (Calendario)
GenericName[ka]=კალენდარი
GenericName[nl]=Calendar
GenericName[pt]=Calendário
GenericName[sl]=Koledar
GenericName[ta]=நாள்காட்டி
GenericName[tr]=Takvim
GenericName[uk]=Календар
GenericName[x-test]=xxCalendarxx
Keywords=Kalendar, Merkuro, Events
Keywords[ca]=Kalendar, Merkuro, Esdeveniments
Keywords[ca@valencia]=Kalendar, Merkuro, Esdeveniments
Keywords[eo]=Kalendaro, Merkuro, Eventoj
Keywords[es]=Kalendar, Merkuro, eventos
Keywords[fr]=Kalendar, Merkuro, Évènements
Keywords[ia]=Kalendar,Merkuro,Eventos
Keywords[ka]=Kalendar, Merkuro, მოვლენები
Keywords[nl]=Agenda, Merkuro, afspraken
Keywords[pt]=Kalendar, Merkuro, Eventos
Keywords[sl]=Kalendar, Merkuro, Dogodki
Keywords[ta]=Kalendar, Merkuro, Events,நாள்காட்டி,மெற்குரோ,காலென்டர்
Keywords[tr]=Takvimci, Erdenay, Etkinlikler
Keywords[uk]=Kalendar, Merkuro, події
Keywords[x-test]=xxKalendar, Merkuro, Eventsxx
Comment=Manage your tasks and events with Calendar
Comment[ca]=Gestioneu les tasques i esdeveniments amb el Calendar
Comment[ca@valencia]=Gestioneu les tasques i esdeveniments amb el Calendari
Comment[eo]=Mastrumu viajn taskojn kaj eventojn per Calendar
Comment[es]=Gestione tareas y eventos con Calendar
Comment[fr]=Gérer vos tâches et vos évènements avec Kalendar
Comment[ia]=Gere tu cargas e eventos con Calendar
Comment[ka]=მართეთ თქვენი დავალებები და მოვლენები Kalendar-თან ერთად
Comment[nl]=Uw taken en afspraken beheren met Calendar
Comment[pt]=Gerir as suas tarefas e eventos com o Calendário
Comment[sl]=Upravljajte vaše naloge in dogodke s programom Calendar
Comment[ta]=உங்கள் நிகழ்வுகளை நாள்காட்டியில் நிர்வகியுங்கள்
Comment[tr]=Takvim ile görevlerinizi ve etkinliklerinizi yönetin
Comment[uk]=Керуйте вашими записами завдань і подій за допомогою Календаря
Comment[x-test]=xxManage your tasks and events with Calendarxx
Exec=merkuro-calendar %u
Categories=Qt;KDE;Office;Calendar;
Icon=org.kde.merkuro
Type=Application
Terminal=false
StartupNotify=true
MimeType=text/calendar;
SingleMainWindow=true
