# SPDX-FileCopyrightText: 2021 Carl Schwan <carl@carlschwan.eu>
# SPDX-FileCopyrightText: 2021 Claudio Cambra <claudio.cambra@gmail.com>
# SPDX-License-Identifier: CC0-1.0

[Desktop Entry]
Name=Merkuro Calendar
Name[ar]=تقويم ميركورو
Name[bg]=Календар Меркуро
Name[ca]=Merkuro Calendar
Name[ca@valencia]=Calendari de Merkuro
Name[cs]=Kalendář Merkuro
Name[da]=Merkuro Kalender
Name[de]=Merkuro Kalender
Name[en_GB]=Merkuro Calendar
Name[eo]=Merkuro-Kalendaro
Name[es]=Calendario de Merkuro
Name[eu]=Merkuro Calendar
Name[fi]=Merkuro-kalenteri
Name[fr]=Agenda de Merkuro
Name[gl]=Merkuro Calendar
Name[he]=לוח שנה Merkuro
Name[hi]=मेरकुरो कैलेंडर
Name[hu]=Merkuro Naptár
Name[ia]=Merkuro Calendar (Calendario de Merkuro)
Name[it]=Merkuro Calendario
Name[ka]=Merkuro Calendar
Name[ko]=Merkuro 캘린더
Name[lt]=Merkuro kalendorius
Name[lv]=Merkuro kalendārs
Name[nl]=Merkuro-agenda
Name[pl]=Kalendarz Merkuro
Name[pt_BR]=Merkuro Calendar
Name[ru]=Календарь Merkuro
Name[sa]=बुध पञ्चाङ्ग
Name[sk]=Merkuro Calendar
Name[sl]=Merkuro koledar
Name[sv]=Merkuro kalender
Name[ta]=மெற்குரோ நாள்காட்டி
Name[tr]=Merkuro Takvim
Name[uk]=Календар Merkuro
Name[x-test]=xxMerkuro Calendarxx
Name[zh_TW]=Merkuro 行事曆
GenericName=Calendar
GenericName[ar]=التّقويم
GenericName[ast]=Calendariu
GenericName[bg]=Календар
GenericName[ca]=Calendari
GenericName[ca@valencia]=Calendari
GenericName[cs]=Kalendář
GenericName[da]=Kalender
GenericName[de]=Kalender
GenericName[en_GB]=Calendar
GenericName[eo]=Kalendaro
GenericName[es]=Calendar
GenericName[eu]=Egutegia
GenericName[fi]=Kalenteri
GenericName[fr]=Agenda
GenericName[gl]=Calendario
GenericName[he]=לוח שנה
GenericName[hi]=कैलेंडर
GenericName[hu]=Naptár
GenericName[ia]=Calendar
GenericName[it]=Calendario
GenericName[ka]=კალენდარი
GenericName[ko]=캘린더
GenericName[lt]=Kalendorius
GenericName[lv]=Kalendārs
GenericName[nl]=Calendar
GenericName[pl]=Kalendarz
GenericName[pt]=Calendário
GenericName[pt_BR]=Calendário
GenericName[ru]=Календарь
GenericName[sa]=पञ्चाङ्गम्
GenericName[sk]=Kalendár
GenericName[sl]=Koledar
GenericName[sv]=Kalender
GenericName[ta]=நாள்காட்டி
GenericName[tr]=Takvim
GenericName[uk]=Календар
GenericName[x-test]=xxCalendarxx
GenericName[zh_TW]=行事曆
Keywords=Kalendar, Merkuro, Events, Tasks, Reminders
Keywords[ca]=Kalendar, Merkuro, Esdeveniments, Tasques, Recordatoris
Keywords[es]=Kalendar, Merkuro, eventos, tareas, recordatorios
Keywords[he]=Kalendar, Merkuro, אירועים, משימות, תזכורות
Keywords[ka]=Kalendar, Merkuro, მოვლენები, ამოცანები, შეხსენება
Keywords[nl]=Agenda, Merkuro, Gebeurtenissen, Taken, Herinneringen
Keywords[sl]=Kalendar, Merkuro, Dogodki, Opomniki
Keywords[tr]=Kalendar, Merkuro, Etkinlikler, Görevler, Anımsatıcılar
Keywords[uk]=Kalendar, Merkuro, події, завдання, нагадування
Keywords[x-test]=xxKalendar, Merkuro, Events, Tasks, Remindersxx
Comment=Manage your tasks and events with Calendar
Comment[ar]=أدر المهام والأحداث مع التقويم
Comment[bg]=Управлявайте задачите си с Меркуро
Comment[ca]=Gestioneu les tasques i esdeveniments amb el Calendar
Comment[ca@valencia]=Gestioneu les tasques i esdeveniments amb el Calendari
Comment[cs]=Spravujte své úkoly a události pomocí Kalendáře
Comment[da]=Adminstrér dine opgaver og begivenheder med Kalender
Comment[de]=Verwalten Sie Ihre Aufgaben und Termine mit Kalendar
Comment[en_GB]=Manage your tasks and events with Calendar
Comment[eo]=Mastrumu viajn taskojn kaj eventojn per Calendar
Comment[es]=Gestione tareas y eventos con Calendar
Comment[eu]=Kudeatu zure atazak eta ekitaldiak «Calendar» erabiliz
Comment[fi]=Hallitse tehtäviä ja tapahtumia Kalendarilla
Comment[fr]=Gérer vos tâches et vos évènements avec Kalendar
Comment[gl]=Xestione as súas tarefas e eventos con Calendar.
Comment[he]=ניהול המשימות והאירועים שלך בלוח שנה
Comment[hi]=कैलेंडर के साथ अपने कार्य और घटनाक्रम का प्रबंधन करें
Comment[hu]=Kezelje feladatait és eseményeit a Naptárral
Comment[ia]=Gere tu cargas e eventos con Calendar
Comment[it]=Gestisci le tue attività e gli eventi con Calendar
Comment[ka]=მართეთ თქვენი ამოცანები და მოვლენები Merkuro Calendar-თან ერთად
Comment[ko]=캘린더를 사용하여 할 일과 이벤트 관리
Comment[lt]=Tvarkyti užduotis ir įvykius naudojant kalendorių
Comment[lv]=Pārvaldiet savus uzdevumus un notikumus ar „Kalendāru“
Comment[nl]=Uw taken en afspraken beheren met Calendar
Comment[pl]=Zarządzaj swoimi zadaniami i wydarzeniami w Kalendarzu
Comment[pt]=Gerir as suas tarefas e eventos com o Calendário
Comment[pt_BR]=Gerencie suas tarefas e eventos com o Merkuro Calendar
Comment[ru]=Управление задачами и событиями с помощью приложения «Календарь Merkuro»
Comment[sa]=Calendar इत्यनेन स्वकार्यं घटनां च प्रबन्धयन्तु
Comment[sl]=Upravljajte vaše naloge in dogodke s programom Calendar
Comment[sv]=Hantera dina uppgifter och händelser med Kalender
Comment[ta]=உங்கள் நிகழ்வுகளை நாள்காட்டியில் நிர்வகியுங்கள்
Comment[tr]=Takvim ile görevlerinizi ve etkinliklerinizi yönetin
Comment[uk]=Керуйте вашими записами завдань і подій за допомогою Календаря
Comment[x-test]=xxManage your tasks and events with Calendarxx
Comment[zh_TW]=用行事曆管理您的工作和事件
Exec=merkuro-calendar %u
Categories=Qt;KDE;Office;Calendar;
Icon=org.kde.merkuro.calendar
Type=Application
Terminal=false
StartupNotify=true
MimeType=text/calendar;
SingleMainWindow=true
